<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Disabled</key>
    <false/>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>Label</key>
    <string>com.picasa.scheduler.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/picasa_scheduler</string>
        <string>--launchd</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/picasa_stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/picasa_stderr.log</string>
</dict>
</plist>
